/*********
CSS for Platform page
*********/


.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.platform-image {
	width: 100%;
	height: 150px;
	background-image: url("donald-trump-no-nose.jpg");
	background-repeat: repeat;
	background-position: center;
	background-size: 25%;
}

.container{
	margin-top: 20px;
	height: 700px;
	width: 100%;
	border: 1px solid black;
}

.col-1 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-2 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-3 {
	float: left;
	width: 31%;
	height: 100%;
	padding-left: 5px;
	margin-left: 5px;
}

.container2 {
	clear: both;
	margin-top: 20px; 
	height: 700px;
	width: 100%;
	border: 1px solid black;
}

.col-4 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-5 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-6 {
	float: left;
	width: 31%;
	height: 100%;
	padding-left: 5px;
	margin-left: 5px;
}



.col-1 p,
.col-2 p,
.col-3 p,
.col-4 p,
.col-5 p,
.col-6 p {
	color: blue;
	font-family: 'Fontdiner Swanky', cursive;

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 18px;
  width: 100px;
  outline: none;
  cursor: pointer;
}
.spoiler {
  background: #1d3c6a;
  width: 15-0px;
  margin: 0 auto 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  
}
.spoiler span {
  color: #dae1e4;
}


/*********
CSS for Forms page
*********/

body{
	color: red;
	text-align: center;
}
