/*********
CSS for Platform page
*********/
.platform-body {
	font-family: 'Fontdiner Swanky', cursive;
}

.platform-h1{
	text-decoration: underline;
}

.platform-h1, .platform-h4 {
	text-align: center;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.platform-image {
	width: 100%;
	height: 150px;
	background-image: url("donald-trump-no-nose.jpg");
	background-repeat: repeat;
	background-position: top left;
	background-size: 25%;
}

.container{
	margin-top: 20px;
	height: 700px;
	width: 100%;
	border: 1px solid black;
}

.col-1 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;

}

.col-2 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-3 {
	float: left;
	width: 31%;
	height: 100%;
	padding-left: 5px;
	margin-left: 5px;
}

.container2 {
	clear: both;
	margin-top: 20px; 
	height: 700px;
	width: 100%;
	border: 1px solid black;
}

.col-4 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-5 {
	float: left;
	width: 31%;
	height: 100%;
	padding-right: 10px;
	padding-left: 5px;
	border-right: 1px solid black;
}

.col-6 {
	float: left;
	width: 31%;
	height: 100%;
	padding-left: 5px;
	margin-left: 5px;
}

.col-1 p,
.col-2 p,
.col-3 p,
.col-4 p,
.col-5 p,
.col-6 p {
	color: blue;
	font-family: 'Fontdiner Swanky', cursive;
	line-height: 25px;
	text-align: center;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 15px;
  width: 100px;
  outline: none;
  cursor: pointer;
  font-family: 'Fontdiner Swanky', cursive;
}
.spoiler {
  background: #1d3c6a;
  width: 15-0px;
  margin: 0 auto 20px;
  border-radius: 5px;
  text-align: center;
  
}
.spoiler span {
  color: #dae1e4;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 14px;
}

/*DC css additions for the TrumpImage.html file (P.S.  Danny's mom is hot)
*/

div.img {
    margin: 5px;
    border: 3px solid #ccc;
    float: left;
    width: 400px;
}	

div.img:hover {
    border: 3px solid #777;
}

div.img img {
    width: 100%;
    height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}




/*********
CSS for Forms page
*********/

.signup-body {
	font-family: 'Fontdiner Swanky', cursive;
}

form {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 500px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

legend {
	font-size: 25px;	
}


label {
	display: block;
	margin: 0 auto;
}

label {
	margin-bottom: 10px;
}

label.light {
  font-weight: 300;
  display: inline;
  margin-right: 20px;
}

button [type=submit] {
	width: 120px;
	font-size: 30px;
}

.signup-h1 {
	text-decoration: underline;
	text-align: center;
}

.donate {
	text-align: center;
}

.donate a{
	color: #00aa00;
	text-decoration: none;
	background-color: #99ff99;
}

.donate a:hover {
	color: #aa0000;
	text-decoration: underline;
}
